.container {
	display: flex;
	height: 100vh;
	background-color: white;
}

.left {
	flex: 1;
	margin-left: 1rem;
	margin-top: 11rem;
}

.right {
	flex: 1;
	margin-top: 100px;
	padding: 0 40px;
}
.card {
	height: 60vh;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.342);
}
.heading {
	font-size: 4rem;
}

.logo {
	background-color: white;
	padding-left: 1rem;
	padding-top: 1rem;
	font-weight: 500;
}
.logoimg {
	padding: 1rem;
}
