.container {
	display: flex;
	height: 100vh;
	background-color: white;
}

.left {
	flex: 1;
	margin-left: 4rem;
	margin-top: 11rem;
	display: flex;
 	 align-items: center;
	
}

.leftTotal{
	flex:1;
	margin-left: 6.5rem;
	margin-top:6rem;
}

.tagline{
	font-size:small;
	margin-left: 11rem;
	margin-top: -0.5rem;
}

.right {
	flex: 1;
	margin-top: 100px;
	padding: 0 40px;
	justify-content: center;
	margin-left: 12rem;
	margin-top:11%;
	
}

.card {
	margin-top: 30%;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.342);
    border-radius: 0px;
	width:17rem;
	display: flex;
	/* padding: -40	pxpx; */
	align-items: center;
	flex-direction: column; /* Align items vertically in the center */

}

.heading {
	font-size: 4.5rem;
}

.logo {
	background-color: white;
	padding-left: 1rem;
	padding-top: 1rem;
	font-weight: 500;
	display: flex;
  	align-items: center;
}

.logoimg {
	padding: 1rem;
	margin-right: 10px;
	margin-top: 0.5rem;
	width: 82px; /* Adjust the width according to your preference */
  	height: auto; /* Maintain aspect ratio */
	
}

.microsoftLogo{
	width: 35px;	
	height: auto;
	margin-bottom: 6px;
	margin-right: 2px;
	flex:1;
}

.microsoftButton {
	background-color: #0078D4; /* Microsoft Blue */
	color: #FFFFFF; /* White text */
	border: none;
	border-radius: 0px;
	/* padding: 10px 20px; */
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	flex:1;
  }
  
  .microsoftButton:hover {
	background-color: #005A9E; 
	border-width: 5px;
	border-color: black;/* Darker shade of Microsoft Blue on hover */
  }