  .maincontainer__header {
    margin: 0px 1rem;
    font-family: "Montserrat", sans-serif;
  }

  .maincontainer__header__title{
    display: flex;
    justify-content: space-between;
    padding-top: 1.5rem;
  }

  .maincontainer__header__title__contract h2{
    font-size: 1.8rem;
    font-weight: 700;
  }

  .maincontainer__header__title__contract span {
    color: #dc143c;
  }

  .maincontainer__header__title__edit{
    margin-left: auto;
    margin-right: 2rem;
  }
  
  .maincontainer__header__title__edit__button {
    background-color: #dc143c;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: large;
    border-radius: 10px;
  }

  .maincontainer__header__title__export{
    margin-right: 3rem;
  }
  
  .maincontainer__header__title__export__button {
    background-color: #dc143c;
    color: white;
    border: none;
    padding: 5px 20px;
    font-size: large;
    border-radius: 10px;
  }
  
  .maincontainer__header__subheading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .maincontainer__header__subheading__box {
    background-color: #d9d9d9;
    margin: 0px 2rem 0px 0px;
    padding: 0.5rem 2rem;
    border-radius: 40px;
    width: 7rem;
    height: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: x-small;
    font-weight: 600;
    text-transform: uppercase;
  }
  