.maincontainer{
    /* margin-left: 15rem; */
    margin-left: 16rem;;
    background-color: #fff;
    width: 63rem;
    height: 100%;
    font-family: "Montserrat", sans-serif;
    /* overflow-y: auto; */
    padding-bottom: 2rem;
}

.chart{
    padding-top: 15px;
    margin-left: -255px;
}