@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.AddMsa{
    margin-top: 30px;
    margin-left: 14rem;
    margin-right: 1.5rem;
    font-family: 'Montserrat', sans-serif;
}
.AddMsa_Heading{
    font-weight: 700; /* Bold weight */
    font-size: 1.7rem; /* Font size 40 */
}
.AddMsaDetails_Heading{
    font-weight: 500; /* Bold weight */
    font-size: 1.2rem;
}
.AddMsaDetails{
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
    border-radius: 5px;
    padding: 1rem;
}
.AddMsaDetails_star{
    color: crimson;
}
.AddMsaDetails_row1,
.AddMsaDetails_row2,
.AddMsaDetails_row3{
    display: flex;
}
.AddMsaDetails_row1_col1,
.AddMsaDetails_row1_col2,
.AddMsaDetails_row1_col3,
.AddMsaDetails_row2_col1,
.AddMsaDetails_row2_col2,
.AddMsaDetails_row3_col1,
.AddMsaDetails_row3_col2{
    flex: 1;
}
.AddMsaDetails_row1_col2
{
    margin-left: 4rem;
}
.AddMsaDetails_row1_col3
{
    margin-left: 4rem;
}
.AddMsaDetails_inputs{
    width:15rem
}
.AddMsaDetails_Button{
    color:white;
    background-color: crimson;
    width: 9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500; /* Bold weight */
    font-size: 0.8rem;
    height: 2.7rem;
    margin-left: 25rem;
}
.AddMsaDetails_row3_col1_filename{
    font-size: 0.8rem;

}
.AddMsaDetails_row3_col1_fileicon{
    color: crimson;
    
}
