.maincontainer__overviewpayment {
  margin-top: 1rem;
  display: flex;
  position: relative;
}

.maincontainer__overviewpayment__overview {
  width: 32%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
  /* border: solid 1px #828282; */
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.maincontainer__overviewpayment__title h4 {
  font-weight: 700;
  font-size: 1rem;
}

.maincontainer__overviewpayment__content__list {
  display: flex;
  margin-top: 0.3rem;
  justify-content: space-between;
}

.maincontainer__overviewpayment__content__list h5 {
  font-size: 0.8rem;
}

.maincontainer__overviewpayment__content__list__value {
  font-weight: 300;
  text-transform: capitalize;
}

.maincontainer__overviewpayment__content__list__value span {
    font-weight: 300;
    text-transform: lowercase;
  }

.maincontainer__overviewpayment__payment {
  width: 32%;
  margin-left: 1rem;
  /* border: solid 1px #828282; */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
  background-color: white;
  font-family: "Montserrat", sans-serif;
}

.maincontainer__overviewpayment__payment__h2 {
  margin: 20px 40px;
  font-size: 1rem;
  font-weight: 700;
}

.maincontainer__overviewpayment__list {
  display: flex;
  justify-content: space-between;
}

.maincontainer__overviewpayment__list h5 {
  font-weight: 500;
  padding-top: 1rem;
  font-size: 0.8rem;
}
