body{
    background-color: #F4F4F4;
}
.container{

  display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow:0 0 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    margin: 2px 0 20px 4px;
    height:80px;
    width:320px;
    transition: transform 0.3s ease;
}
.container:hover{
  display: flex;
  background-color: #f0eded;
  border-radius: 10px;
  padding: 16px;
  margin: 2px 0 20px 4px;
  height:80px;
  width:320px;
  transform: translateY(-5px);
}
.containerList{
  /* margin-left: 67%; */
  margin-top: 30px;
    background-color: #ffffff;
    padding-left: 2%;
    width: 15.7rem;
    /* margin-top: 10rem; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    height: 23rem;
    /* max-height: calc(99vh - 50px - 50px);  */
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
.container_color{
    
    margin-left: 380px;

}

.container_time,
.container_action {
  margin-right: 100px;
}
.container_text {
  flex-grow: 1; /* Allow the text to occupy remaining space */
}
/* .added p{
    background-color: #D9A0F3;
    color: #1F4E94;
    height: 20px;
    width: 60px;
    margin-left: 21px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
  } */
  .edited p{
    background-color: #f29573;
    color: #cb3c09;
    height: 20px;
    width: 60px;
    margin-left: 21px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .renewed p{
    background-color: #ACF3A0;
    color: #1F9423;
    height: 20px;
    width: 60px;
    margin-left: 21px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .expired p{
    background-color: #DC143C;
    color: #5F2828;
    height: 20px;
    width: 60px;
    margin-left: 21px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
  .expiring p{
    background-color: #F2E291;
    color: #9F7D24;
    height: 20px;
    width: 60px;
    margin-left: 21px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 10px;
  }