.container{
  display:flex;
  /* margin-top: calc(var(--app-margin-top) - 60px); */
  padding-top: var(--app-margin-top);
  height: 100vh;
}
.container_sidebar{
  padding-top: 1rem;
  background: #ffffff;
  width: 16.4%;
  max-width: 13rem;
  height: 100%;
  position: fixed;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.253);
}

.container_sidebar_logout {
  background-color: black;
  width: 16.4%;
  max-width: 13rem;
  position: fixed;
  bottom: 0;
  left: 0;
}

.isactive{
  background: #2f81ed3d;
  color: #077bff;
  display: flex;
  padding: 1px 10px;
  gap: 15px;
  transition: all 1s;
  position: relative;
  text-decoration: none;
}
.isactive::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  background-color:#2F80ED;
  top: 0;
  right: 0;
 
}
.not_active{
  display: flex;
  color: #828282;
  padding: 1px 10px;
  gap: 15px;
  transition: all 0.5s;
  text-decoration: none;
}
.container_sidebar_icon{
  font-size: 1.2rem;
  padding-bottom: .5rem;
}
.container_sidebar_link_text{
  font-size: .9rem;
  color: #6d6b6b;
  padding-top: .4rem;

}
.container_sidebar_logout_link{
  display: flex;
  color: #ffffff;
  padding-left: 5px;
  gap: 15px;
  text-decoration: none;
}
.container_sidebar_logout_link_text{
  font-size: .9rem;
  padding-top: .4rem;
}
.container_outsideSideBar{
  background-color: #ffffff;
  width: 100%;
  height: max-content;
}